/*  */
/* Font Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@800&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

/*  */
/* Login Styles */
.loginContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 20%;
}

.loginContainer > select {
    padding: 15px;
    margin: 15px;
}


/*  */
/* Create Account Styles */
div.createAccountContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 30px;
}

form > div {
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); 
    column-gap: 10px;
    row-gap: 15px;
    padding: 20px;
}

input {
    height: 22px;
    background-color: rgb(230, 228, 228);
    border: none;
    border-radius: 8px;
    padding: 10px;
}

/*  */
/* Button styles */
.createAccBtn {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background-color: rgba(18, 69, 38, 1);
    box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.25);
    width: 215px;
    height: 54px;
    color: white;
    margin: 12px;
    text-decoration: none;
    cursor: pointer;
}

.btns {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background-color: rgba(18, 69, 38, 1);
    box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.25);
    width: 125px;
    height: 44px;
    color: white;
    margin: 12px;
    text-decoration: none;
    cursor: pointer;
}

/*  */
/* Recipe Card Styles */
div > .recipeCard {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}

div.recipeDisp {
    height: 241px;
    width: 278px;
    box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.25);
    border-radius: 8px 8px 0px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.title {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    color: white;
    background-color: rgba(18, 69, 38, 1);
    letter-spacing: .07em;
    padding: 14px;
    margin: 0;
    text-align: center;
    align-self: flex-end;
}

/*  */
/* Dashboard Component */
.dashBoard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 10px;
    margin-left: 5vw;
    margin-right: 10vw;
}

.dashBoardCard {

}

.dashBoardCard > h3 {
    text-align: center;
    margin-bottom: 0;
}

.welcomeDiv {
    padding: 30px;
    text-align: left;
}

.welcomeDiv > h3 {
    margin-top: 0;
    margin-bottom: 0;
}

/*  */
/* Banner */
.banner {
    background-color: rgb(19,70,38);
    display: flex;
    height: 50px; 
    font-size: 45px;
    color: rgb(245,245,245);
    font-family: 'poppins-bold', sans-serif;
    padding: 20px;
}

.banner > .fa-utensils {
    margin-left: 9px;
}

.fa-user-circle {
    flex-direction: row;
    justify-self: flex-end;
    color: rgba(64, 171, 102, 1);
    font-size: 60px;
    cursor: pointer;
}

/*  */
/* Search Component */
.searchComp {
    text-align: center;
}

.searchBarStyle {
    background-image: url('https://lh3.googleusercontent.com/proxy/CBWvxjaiSIhcywdVya4iFwHDAJlZV6ZJ5o9Bkpf8gnCWYjj6saLJ2GHYuWHT0dcTBLfEBX8XTd8yU73F3U75bertL02T8KzVa8gqkY1d2JvBiivcghBdZKNnKKVvupvvzJgZSQ');
    background-repeat: no-repeat;
    background-position-x: 96%;
    background-position-y: 50%;
    background-size: 20px;
    padding: 10px;
    margin: 20px;
}

/*  */
/* Details Page */
.detailswindow {
    display: flex;
}

.detailswindow > .detail {
    color: white;
    /* margin: 8px; */
    box-shadow: 4px 8px 40px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: rgb(19,70,38);
}

.searchBoxDisplay {
    width: 379px;
    height: 241px;
}

.ingredientsDisplay {
    width: 379px;
    height: 306px;
    padding: 20px;

}

.instructionsDisplay {
    width: 479px;
    height: 413px;
    padding: 20px;

}

.servingsDisplay {
    width: 232px;
    height: 122px;
    padding: 20px;
    
}

.readyTimeDisplay {
    width: 232px;
    height: 122px;
    padding: 20px;

}

.healthRatingDisplay {
    width: 278px;
    height: 413px;
    padding: 20px;

}